body {
  background-color: #343332;
}

#calculator {
  font-family: Helvetica, sans-serif;
  margin: auto;
  margin-top: 5vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 75vmin;
  height: 75vh;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  touch-action: manipulation; /* Prevent double tap to zoom on mobile */
}

#display {
  color: #ffffff;
  background-color: #303133;
  padding: 10px;
  text-align: right;
  font-size: 7vh;
  letter-spacing: 2px;
  border-bottom: 1px solid black;
  grid-area: 1 / 1 / 2 / 5;
  overflow: hidden;
}

.operator {
  color: #fef0df;
  background-color: #ff950c;
}

.number {
  color: #e8e8e8;
  background-color: #6a6d70;
}

.tool {
  color: #e3e3e3;
  background-color: #4d5054;
}

.number,
.tool,
.operator {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vh;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  -webkit-user-select: none; /* Prevent the user from selecting the numbers */
  -moz-user-select: none;
}

.number:active {
  background-color: #a2a2a3;
}

.tool:active {
  background-color: #6a6d70;
}

.operator:active {
  background-color: #c97d20;
}

.active {
  border: 2px solid #303133;
}

.equals {
  border-bottom: none;
}

.decimal {
  border-bottom: none;
}

.zero {
  border-bottom: none;
  border-left: none;
  grid-area: 6 / 1 / 7 / 3;
}

@media screen and (max-width: 720px) {
  #calculator {
    width: 75vw;
    height: 75vmin;
  }

  #display {
    font-size: 7vw;
  }
  .number,
  .tool,
  .operator {
    font-size: 6vw;
  }
}

/* Browser Fixes: */
button,
input {
  border: none;
  margin: 0;
}

button:focus {
  outline: none;
}

/* Media Queries: */
@media screen and (max-height: 500px) {
  #calculator {
    height: 75vmin;
  }

  #display {
    font-size: 7vh;
  }

  .number,
  .tool,
  .operator {
    font-size: 6vh;
  }
}

@media screen and (max-width: 720px) and (max-height: 500px) {
  #calculator {
    width: 75vmin;
    height: 75vh;
  }
}

@media screen and (max-width: 720px) and (min-height: 500px) {
  #calculator {
    height: 55vmax;
  }
}

/* Dark/Light Mode */
@media (prefers-color-scheme: light) {
  body {
    background-color: #dddddd;
  }
}
